.dropdown-menu > li > a.none:hover {
    background-color: transparent;
}

.breadcrumb {
    font-size: 18px;
}

.breadcrumb > li + li:before {
    content: " > ";
    color: #3d464d;
}

.liftbox_color1 {
    color: #189205;
}

.liftbox_color2 {
    background-color: #e7ffd3;
}

.liftbox_color3 {
    background-color: #d3ffa9;
}


.table-hover tbody tr:hover td {
    background-color: #e7ffd3;
}

.table-hover tbody tr:active td {
    background-color: #d3ffa9;
}


.properties {
    display: none;
}

ol.breadcrumb {
    background-color: transparent;
}

#field:hover{
    cursor: pointer;
}

nav.navbar-default {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.float-left{
    float: left;
}

.table tbody>tr>td{
    vertical-align: top;
}

.trash{
    color: #000;
    font-size: 1.2em;
}

.trash:hover{
    text-decoration: none;
}

.ui-widget-content{
    border: 1px solid transparent;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    border-color: transparent;
}

.ui-datatable-odd {
    background-color: transparent;
}

.ui-datatable-empty-message{
    display: none;
}

.ui-datatable thead th{
    background: transparent !important;
    /*border: none !important;*/
    box-shadow: none !important;
    border-bottom: 2px solid #ddd !important;
    text-align: left !important;
    cursor: auto !important;
}